<h1> Stupid Coaching </h1> <br>
<div class="alert alert-light" role="alert">
  <%= @question %> <br>
<p>- You</p>
</div>

<div class="alert alert-warning" role="alert">
  <%= @answer %><br>
<p>- Your coach</p>
</div>
